<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Manage Social Media
        {% endblock %}
    </title>
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="Stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.ui/1.8.10/jquery-ui.js"></script>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
{% block body %}

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a href="{{ path('home')}}" class="navbar-brand">

            <img src="{{ asset('build/images/logo.svg') }}" width="150" alt="Logo"
                class=" d-inline-block align-middle mr-2 radiusImage">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home')}}">
                        <!--<i class="fa fa-home">--></i>Home
                </li>
                </a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('posts')}}">
                        <!--<i class="fa fa-sign-out-alt">--></i>Posts
                </li>
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profil')}}">
                        <!--<i class="fa fa-sign-out-alt">--></i>Profil
                </li>

                </a></li>
               
                <li class="nav-item"><a class="nav-link" href="/post/new">Crée un post</a></li>
              
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout')}}">
                        <!--<i class="fa fa-sign-out-alt">--></i>Log out
                </li></a></li>{% else %}<li class="nav-item"><a class="nav-link " href="{{ path('app_login')}}">
                        <!--<i class="fa fa-sign-in-alt">--></i>Login</li></a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_register')}}">
                        <!--<i class="fa fa-plus-circle">--></i>Register</li></a></li>{% endif %}
            </ul>
        </div>
        
    </nav>


    {% endblock %}

</body>
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}

</html>