{% extends 'base.html.twig' %}
{% block body %}
{{ parent() }}
<div class="d-flex justify-content-center align-items-center w-75 mx-auto">
<div class="card m-3 text-white bg-dark w-100">
<div class='card-header bg-secondary'> <h1>Création d'un post</h1></div>
  <div class="card-body d-flex justify-content-center ">

{{ form_start(formPost, {'attr': {'class': 'w-75'}}) }}
<div class="form-group w-100">
{{ form_row(formPost.description, {'attr': {'placeholder': "Contenu du l'article", 'class': 'form-control w-100 height mt-3'}, 'label_attr': {'class':'font-weight'} }) }}
</div>
<div class="form-group mt-4">
<label class="font-weight">Prévoir la plannification</label>
<input type="checkbox" name="planif" value="planif" id="planif" class="mb-3">
<div style="display: none;" id="date">
{{ form_row(formPost.date, {'attr': {'placeholder': "Date d'envoie", 'class': 'form-control w-100 mt-3 mb-3'}, 'label_attr': {'class':'font-weight'}}) }}
</div>
</div>
<div class="form-group">
{{ form_row(formPost.image, {'attr': {'placeholder': "Lien de l'image", 'class': 'form-control w-100 mt-3'}, 'label_attr': {'class':'font-weight'}}) }}
</div>
<button type="submit" class="btn btn-primary mt-4">
Voir la prévisualisation
</button>
{{ form_end(formPost) }}
    </div>
  </div>
</div>
</div>


<!-- Modal -->
<div class="modal" id="artisteModal" tabindex="-1" aria-labelledby="twitterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="twitterModalLabel">Tag un utilisateur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="testinput" placeholder="Type 'a'">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary save">Save changes</button>
      </div>
      
    </div>
  </div>
</div>

{% block javascripts %}
{{ encore_entry_script_tags('manageArtiste') }}
{{ encore_entry_script_tags('hiddenBlock') }}
{{ encore_entry_script_tags('countPost') }}
{% endblock %}
{% endblock %}