{% extends 'base.html.twig' %}
{% block body %}
{{ parent() }}
<div class="d-flex justify-content-center">
<div class="card m-3" style="width: 30rem;">
<div class='card-header'> <h1>Création d'un post</h1></div>
  <div class="card-body d-flex justify-content-center">
{{ form_start(formPost) }}
<div class="form-group ">
{{ form_row(formPost.description, {'attr': {'placeholder': "Contenu du l'article"}}) }}
</div>
<div class="form-group ">
{{ form_row(formPost.date, {'attr': {'placeholder': "Date d'envoie"}}) }}
</div>
<div class="form-group ">
{{ form_row(formPost.image, {'attr': {'placeholder': "Lien de l'image"}}) }}
</div>
<button type="submit" class="btn btn-primary mt-3">
{% if editMode %}
Enregistrer
{% else %}
Voir prévisualisation
{% endif %}
</button>
{{ form_end(formPost) }}
    </div>
  </div>
</div>
</div>
{% endblock %}