{% extends 'base.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block body %}
    {{ parent() }}
    <article class="d-flex justify-content-around flex-wrap m-4">
        {% for post in posts %}
            <div class="card m-3" style="width: 18rem;">
                {% if post.image != null %}
                    {% for image in post.image %}
                        <img class="card-img-top" src="{{ asset('post_images/' ~ image) }}" alt="Card image cap">
                        {% endfor %}
                    {% else %}
                        <img class="card-img-top" src="https://www.lyoncapitale.fr/wp-content/themes/siteorigin-fidumedias/images/lyoncap/actularge.jpg" alt="Card image cap">
                        {% endif %}
                        <div
                            class="card-body">
                            {# <h5 class="card-title">{{post.socialMediaAccounts}}</h5>#}
                            <p class="card-text">{{ post.description }}</p>

                            {% if post.date != "" %}
                                {% if post.date > day %}
                                    <div class="d-flex justify-content-around">
                                        <a href="{{ path('post_watch', {'id' : post.id}) }}" class="btn btn-primary">Modifier la plannification</a>
                                    </div>
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            </article>
        {% endblock %}
